{% extends 'base.html.twig' %}

{% block title %}Patients index{% endblock %}

{% block body %}
    <h1>Patients index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de Naissance</th>
                <th>Email</th>
                <th>Numéro de Carte Vitale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.birthDate ? patient.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.vitalcardNumber }}</td>
                <td>
                    <a href="{{ path('patients_show', {'id': patient.id}) }}">Détails</a>
                    <a href="{{ path('patients_edit', {'id': patient.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('patients_new') }}">Create new</a>
{% endblock %}
