{% extends 'base.html.twig' %}

{% block title %}Patients{% endblock %}

{% block body %}
    <h1 class="">Patients</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ patient.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ patient.firstName }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ patient.birthDate ? patient.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ patient.email }}</td>
            </tr>
            <tr>
                <th>VitalcardNumber</th>
                <td>{{ patient.vitalcardNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('patients_index') }}">back to list</a>

    <a href="{{ path('patients_edit', {'id': patient.id}) }}">edit</a>

    {{ include('patients/_delete_form.html.twig') }}
{% endblock %}
